<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/output.css">
</head>
<body>

    <div class="max-w-lg mx-auto bg-white p-6 rounded-lg shadow-md">
        <!-- Form -->
        <form action="/linkform" method="post" id="myForm" class="mb-4">
            <div class="mb-4">
                <label for="inputField" class="block text-gray-700 font-semibold mb-2">Field:</label>
                <input type="text" id="inputField" name="inputField" class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring focus:border-blue-300">
            </div>
            <div class="text-center">
                <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600">Submit</button>
            </div>
        </form>
        
        <!-- Data Display Section -->
        <div id="dataSection" class=" mt-6">
            <h2 class="text-xl font-semibold mb-4">Data Received from Server:</h2>
            <div id="displayData" class="bg-gray-200 p-4 rounded-md"></div>
        </div>
    </div>

  

    
</body>
</html>